<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.coreasm.aspects.eclipse.marker.PointCutMarker"
         name="PointCut Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.coreasm.aspects.eclipse.StartUp"
         name="org.coreasm.aspects.eclipse.StartUp"
         point="org.eclipse.ui.startup">
         <startup
            class="org.coreasm.aspects.eclipse.StartUp">
         </startup>
   </extension>
</plugin>
